<footer class="footer">
  <div class="footer__content">
    <div class="footer__section">
      <h4>AR Contabilidade</h4>
      <p>Av. Bispo Pedro Massa Nº 12<br>Manaus - AM</p>
      <p>contato&#64;arempresa.com.br<br>(91) 99999-9999</p>
    </div>
    
    <div class="footer__section">
      <h4>Links Rápidos</h4>
      <ul>
        <li><a routerLink="/">Início</a></li>
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a routerLink="/servicos">Serviços</a></li>
        <li><a routerLink="/contato">Contato</a></li>
      </ul>
    </div>
    
    <div class="footer__section">
      <h4>Redes Sociais</h4>
      <div class="footer__socials">
        <a href="#" class="footer__social-link">Instagram</a>
        <a href="#" class="footer__social-link">LinkedIn</a>
        <a href="#" class="footer__social-link">Facebook</a>
      </div>
    </div>
  </div>
  
  <div class="footer__copy">
    &copy; 2025 AR Contabilidade. Todos os direitos reservados.
  </div>
</footer>
