<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <ul class="wrapper">
    <li style="--i:3;">
      <input class="input" type="email" placeholder="E-mail" formControlName="email" required />
      <div class="error" *ngIf="email?.invalid && email?.touched">
        <span *ngIf="email?.errors?.['required']">E-mail é obrigatório.</span>
        <span *ngIf="email?.errors?.['email']">E-mail inválido.</span>
      </div>
    </li>
    <li style="--i:2;">
      <input class="input" type="password" placeholder="Senha" formControlName="senha" required />
      <div class="error" *ngIf="senha?.invalid && senha?.touched">
        <span *ngIf="senha?.errors?.['required']">Senha é obrigatória.</span>
        <span *ngIf="senha?.errors?.['minlength']">Mínimo 6 caracteres.</span>
      </div>
    </li>
    <button style="--i:1;" [disabled]="form.invalid || loading">
      <span *ngIf="loading">Entrando...</span>
      <span *ngIf="!loading">Entrar</span>
    </button>
  </ul>
  <div class="success" *ngIf="successMsg">{{ successMsg }}</div>
  <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
</form> 