<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <ul class="wrapper">
    <li style="--i:3;">
      <input class="input" type="email" placeholder="E-mail" formControlName="email" required />
      @if (email?.invalid && email?.touched) {
        <div class="error">
          @if (email?.errors?.['required']) {
            <span>E-mail é obrigatório.</span>
          }
          @if (email?.errors?.['email']) {
            <span>E-mail inválido.</span>
          }
        </div>
      }
    </li>
    <li style="--i:2;">
      <input class="input" type="password" placeholder="Senha" formControlName="senha" required />
      @if (senha?.invalid && senha?.touched) {
        <div class="error">
          @if (senha?.errors?.['required']) {
            <span>Senha é obrigatória.</span>
          }
          @if (senha?.errors?.['minlength']) {
            <span>Mínimo 6 caracteres.</span>
          }
        </div>
      }
    </li>
    <button style="--i:1;" [disabled]="form.invalid || loading">
      @if (loading) {
        <span>Entrando...</span>
      } @else {
        <span>Entrar</span>
      }
    </button>
  </ul>
  @if (successMsg) {
    <div class="success">{{ successMsg }}</div>
  }
  @if (errorMsg) {
    <div class="error">{{ errorMsg }}</div>
  }
</form> 